body {
    background-color: #f9f9fa
}

.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

.padding {
    padding: 5rem
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,.nav-pills > li > a:hover {
text-decoration: none;
font-weight: bold;
border-radius:4px;
border-bottom-width: 4px;
border-bottom-style: solid;
border-bottom-color: #007bff;
    color: #000 !important;
  background-color: transparent !important;
}
.nav-pills > li > a{
    border-radius:0px;
}

